<div style="padding-bottom: 10px;">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <div class="styleExpHome">
                <div style="width: 200px;">
                    <mat-panel-title>
                    {{title}}
                    </mat-panel-title>
                </div>
                <mat-panel-description>
                  {{subtitle}}
                </mat-panel-description>
            </div>
        </mat-expansion-panel-header>
        {{intTitle}}
    </mat-expansion-panel>
</div>