<h1>LOGO</h1>
<hr>
<!-- icona: inserire il nome di un icona di googleFonts -->
<!-- link: inserire una stringa che coincida con una route alla quale collegarsi -->
<app-section-button 
    [icona]="'home'" 
    [link]="'home'">
</app-section-button>
<app-section-button 
    [icona]="'border_color'" 
    [link]="'editor'">
</app-section-button>
<app-section-button 
    [icona]="'groups'"
    [link]="'character'">
</app-section-button>
<app-section-button 
    [icona]="'sports_martial_arts'"
    [link]="'combat'">
</app-section-button>