<div class="home-class">
    <div class="home-exp-panel">
        <app-expansion-panel-home
            [title]="'Editor'"
            [subtitle]="'in lavorazione'"
            [intTitle]="'in lavorazione'">
        </app-expansion-panel-home>
        <app-expansion-panel-home
            [title]="'Lista Pg'"
            [subtitle]="'in lavorazione'"
            [intTitle]="'in lavorazione'">
        </app-expansion-panel-home>
        <app-expansion-panel-home
            [title]="'Statistiche Pg'"
            [subtitle]="'in lavorazione'"
            [intTitle]="'in lavorazione'">
        </app-expansion-panel-home>
    </div>
    <div>TESTO DI PROVA</div>
</div>




