.editor-area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    .top-area {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 25%;
        // background-color: chocolate;
        .title-area {
            display: flex;
            margin-left: 10px;
        }
        .input-area {
            display: flex;
            margin-left: 10px;
        }
    }
    .grid-area {
        // display: flex;
        // justify-content: center;
        // align-items: center;
        width: 100%;
        max-width: 1500px;
        min-width: 800px;
        height: 75%;
        background-color: darkgreen;
    }
}