
<div class="editor-area">
    
    <div class="top-area">
        <div class="title-area">
            elemento sopra
        </div>
        <div class="input-area">

            <form [formGroup]="form">
                <mat-form-field>
                    <mat-label>numero righe</mat-label>
                    <mat-select formControlName="formRows">
                        <mat-option 
                            *ngFor="let value of selectRows" 
                            [value]="value">{{ value }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field style="padding-left:15px;">
                    <mat-label>numero box</mat-label>
                    <mat-select formControlName="formBoxs">
                        <mat-option 
                            *ngFor="let value of selectBoxs" 
                            [value]="value">{{ value }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <button type="button" (click)="setGrid()">CLICCAMI</button>
            </form>
        </div>
    </div>

    <!-- _____________________________________ -->

    <div class="grid-area">
        <div *ngFor="let Rn of rowN" class="row-box">
            <div *ngFor="let Bn of boxN" class="single-box">
                <a (click)="setElementBox(Bn)">
                    prova
                </a>
            </div>
        </div>
    </div>

</div>